<h1>GRIMM OUTLOOK</h1>

  <% @posts.each do |post| %>
 <!-- Need to somehow reverse the order that these show up in -->

  <h2><%= post.title %></h2>
  <p><%= post.content %></p>
  <hr />


  <% end %>